@font-face {
    font-family: 'poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'waterbrush';
    src: url('./fonts/WaterBrush-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

.box-header h2 {
    text-align: center;
    margin-bottom: 30px;
}

h2 span {
    color: #9e121b;
    font-size: 60px;
    font-family: 'waterbrush';
}

div.col-md-12 {
    padding: 10px 10px;
    background: #fff;
    box-shadow: 0px -1px 9px 4px rgb(255 255 255 / 80%);
    max-width: 500px;
    margin: auto;
}

.form-group label {
    display: block;
    width: 100%;
    float: left;
    color: black;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.form-group input {
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
}

p {
    font-weight: 300 px;
    color: #fff;
}


/*CSS nav***/

header {
    position: relative;
    top: 0%;
    left: 0%;
    padding: 4px 8px;
    width: 100%;
    display: block;
    z-index: 3;
    /*z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky) and flex items (elements that are direct children of display:flex elements). */
    background-color: rgb(0, 0, 0);
}

.profile {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.profile button {
    font-size: 0.5em;
    margin: 5px 10px;
    font-weight: bolder;
}

.logo-lg {
    position: absolute;
    left: 55px;
    width: 25%;
    display: flex;
}

.logo-sm {
    display: none;
}

.logo,
.logo:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo span {
    color: #9e121b;
}

.collapse {
    width: 75%;
    justify-content: center;
    margin-right: 40px;
}

.navbar {
    width: 100%;
    display: flex;
    position: relative;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

header .navbar li a:hover {
    color: #9e121b;
}

#cart:hover {
    border-bottom: none;
}


/*sreach box for active search*/

.search-box {
    width: 100%;
    text-align: center;
}

.search-box form {
    width: 100%;
    margin-bottom: 10px;
}

.search-box input[type="text"] {
    padding: 5px 10px;
    min-width: 75%;
    font-size: 0.7em;
    border: none;
}

.search-box button[type='submit'] {
    padding: 5px 10px;
    font-size: 0.7em;
    color: #fff;
    font-weight: bolder;
    background: #9e121b;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

.search-box-sm {
    display: none;
}


/*result*/

.result section {
    min-width: 100%;
    display: flex;
    background-color: transparent;
}

.result .dropdown-result {
    text-decoration: none;
    color: #fff;
}


/*end result*/


/*end active search*/


/*fin css navbar**/

.banniere {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/index/background.jpg);
    background-size: cover;
}

.banniere .contenu {
    max-width: 70%;
    text-align: center;
}

.banniere .contenu h2 {
    color: #fff;
    font-size: 2.5em;
    text-transform: capitalize;
}

.contenu p:nth-child(2) {
    color: #ffff;
    font-size: 1.2em;
}

.btn1 {
    font-size: 1em;
    color: #fff;
    background: #9e121b;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn2 {
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn1:hover,
.btn2:hover {
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 5px;
}

section {
    padding: 60px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col50 h3 {
    color: rgb(0, 0, 0);
    font-weight: lighter;
}

.row .col50 {
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}

.row .col50 h2 {
    margin-bottom: 20px;
}

.titre-texte {
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span {
    color: #9e121b;
    font-size: 1.5em;
    font-weight: 700px;
}

.row .col50 img {
    object-fit: contain;
    height: 450px;
    width: 100%;
    position: relative;
}

.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temoignage {
    background-image: url(./images/index/Bac.png);
    background-size: cover;
}

.temoignage .contenu {
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.temoignage .contenu .box {
    width: 340px;
    height: 380px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}

.temoignage .contenu .box .imbox {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.temoignage .contenu .box .imbox img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.temoignage .contenu .box .text {
    text-align: center;
    color: #666;
    font-style: italic;
}

.temoignage .contenu .box .text h3 {
    color: #9e121b;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}

.temoignage .contenu .box .text p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.blanc .titre-texte {
    color: rgb(0, 0, 0);
}

.blanc .titre-texte,
.blanc p {
    color: rgb(0, 0, 0);
}


/* css page de contact**/

.contact {
    background-size: cover;
    width: 100%;
}

.contactform {
    padding: 60px 40px;
    background: #fff;
    box-shadow: 0px -1px 9px 4px rgba(65, 65, 65, 0.8);
    max-width: 500px;
    margin-top: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .titre-text span {
    color: #9e121b;
    font-size: 2em;
}

#color {
    color: rgb(0, 0, 0);
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.contactform .inputboite {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform h3 {
    color: #000000;
    margin-bottom: 7px;
}

input.inputboite,
textarea.inputboite {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 300;
    resize: none;
    /*La propriété resize permet de contrôler le caractère redimensionnable d'un élément et notamment la direction dans laquelle celui-ci peut être redimensionné.*/
}

input[type="submit"].inputboite {
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    background: #9e121b;
    display: flex;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    /* remarque par defaut il ya une bordure*/
    transition: 0.5s;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

input[type="submit"].inputboite:hover {
    letter-spacing: 5px;
}


/*fin css page de contact*/

header.sticky {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo {
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover {
    color: #9e121b;
    border-bottom: 2px solid #9e121b;
}

.w-100 {
    margin: 10px;
    max-height: 50vh;
}

.carousel-item {
    margin-bottom: 40px;
}

.carousel-item img {
    object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    z-index: 1;
}

section {
    background-color: rgb(255, 255, 255);
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler {
    position: absolute;
    right: 10px;
    top: 10px;
}


/*cart*/

#content {
    width: 100%;
    margin-top: 50px;
}

#content .box-footer .btn-info,
#content .box-footer .btn-success {
    background: #9e121b;
    border: #9e121b;
}

#content .box-footer .btn-info:hover,
#content .box-footer .btn-success:active {
    box-shadow: none;
}

#content .box-footer .btn-default:hover {
    color: #9e121b;
}

#content tbody td a {
    color: #000;
    text-decoration: none;
}

#content tbody td a:hover {
    color: #9e121b;
}


/*end cart*/


/*footer*/


/*end footer*/


/*panel*/

.panel {
    width: 100%;
}

.panel-heading {
    display: flex;
}


/*panel end*/


/*sidebar*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #9e121b;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    margin: 0 20px;
    border: none;
}

#panel {
    transition: margin-left .5s;
    padding: 16px;
}


/*end sidebar*/

.btn-primary {
    margin: 20px 0px 10px;
    padding: 5px 10px;
    font-size: 1em;
    color: #fff;
    background-color: #9e121b;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-primary:active,
.btn-danger:active,
.btn-primary:focus,
.btn-danger:focus {
    background-color: #333;
}

.btn-danger {
    margin: 20px 0px 10px;
    padding: 5px 10px;
    font-size: 1em;
    color: #fff;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

#inscrire {
    color: #333;
}


/*product image*/

#fetched-img {
    object-fit: contain;
}


/*search filtering css */

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 160px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #8d1425;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}


/*products */

.list ul,
.list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.4em;
}

.list a {
    color: #000;
    text-decoration: none;
    font-style: italic;
}

.list a:hover {
    color: #9e121b;
}

.list .list-content {
    border: #333 1px solid;
    border-radius: 5px;
    margin: 10px;
}


/*Flex items*/

.list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    display: flex;
    padding: 0.5em;
    width: 100%;
}

@media all and (min-width: 40em) {
    .list-item {
        width: 50%;
    }
}

@media all and (min-width: 60em) {
    .list-item {
        width: 33.33%;
    }
}

.list-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

.list-content p {
    flex: 1 0 auto;
}


/*product details*/

#details .row .col50 img {
    object-fit: contain;
}

.desc>p {
    color: #666;
}

.container {
    margin-bottom: 100px;
}

@media all and (min-width: 360px) and (max-width: 767px) {
    #banniere {
        padding: 0;
    }
    header {
        padding-bottom: 50px;
    }
    .btn2 {
        margin-left: 0;
    }
    #apropos {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row .col50 {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .row {
        flex-direction: column;
    }
    .banniere .contenu h2 {
        font-size: 2.2em;
        color: rgb(255, 255, 255);
    }
    .titre-text {
        color: rgb(255, 255, 255);
        text-transform: capitalize;
    }
    .temoignage h2 {
        font-size: 1.1em;
    }
    .temoignage p {
        text-align: center;
    }
    .logo-area {
        margin: 0;
    }
    footer {
        flex-direction: column;
    }
    footer .social-media {
        position: static;
    }
    .search-box button[type='submit'] {
        min-width: 100%;
    }
    .search-box input[type="text"] {
        min-width: 100%;
    }
    .profile {
        justify-content: center;
    }
    .search-box-lg {
        display: none;
    }
    .search-box-sm {
        margin-top: 10px;
        margin-left: 20px;
        display: inline-block;
    }
    #navbarToggleExternalContent>div>form>div>section:nth-child(1) {
        padding-left: 0;
    }
    .logo-sm {
        position: absolute;
        top: 5px;
        width: 25%;
        display: flex;
    }
    .logo-lg {
        display: none;
    }
    #navbarToggleExternalContent {
        margin-top: 50px;
    }
}

.btn {
    background-color: #9e121b;
    color: #fff;
}

.btn:hover {
    background-color: #740911;
    color: #fff;
}

.btn-primary {
    background-color: #9e121b;
    color: #fff;
}

.btn-primary:hover {
    background-color: #740911;
    color: #fff;
}

button {
    background-color: #9e121b;
    color: #fff;
}

button:hover {
    background-color: #740911;
    color: #fff;
}

a {
    color: #9e121b;
}