form{
  margin-left: 30%;
  color: white;
  margin-top: 20%;
}
table{
    padding: 10px;
    border: 1px solid ;
    border-radius: 5px;
}
input[type="submit"]{
    margin-left: 150%;
}
input{
    margin: 20px;
}